



<h1>Click on the link given below to login</h1>

 @*------------------------------------------------------------------------------------------------------------------------------------------*@



<h4>Login users</h4>




<button type="button" class="btn btn-info">@Html.ActionLink("Admin Login","Login","AuthenticateMVC")</button>
<button type="button" class="btn btn-info">@Html.ActionLink("Employee Login","Login","AuthenticateMVC")</button>



